{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1e1f1c;
    color: #f8f8f2;
    font-family: "Fira Code", monospace;
    
  }
  
  .c-container {
    background-color: #272822;
    width: 60%;
    /* margin-top: 32px; */
    margin-bottom: 250px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    padding: 70px;
    
  }

.c-focus {
    flex: 70%;
    padding-right: 10px;
  }
  
.c-focus .c-focus1 {
    margin-bottom: 20px;
  }
  
.c-focus .c-focus1 h3 {
    font-size: 1.7em;
    font-weight: 800;
  }
  
.c-focus .c-focus1 p {
    color: #cfcfc2;
    font-size: 1.45em;
  }
  
.c-focus .c-focus1 p a {
    color: #a6e22e;
  }
  
.c-focus .c-focus2 p {
    color: #cfcfc2;
    font-size: 1.45em;
  }
  
.c-topstroke {
    font-family:  "Fira Code", monospace;
    color: #cfcfc2;
    margin-bottom: 10px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  main .c-focal {
    font-size: 1.4em;
    margin-top: 10px;
    float: left;
    margin-left: 0;
  }
  
  main .c-mainpoint {
    display: flex;
    width: 100%;
    padding-top: 20px;
    gap: 40px;
  }
  
  main .c-mainpoint1 .r-mc1photo a img {
    width: 90%;
    margin-right: 10px;
  }
  
  main .c-mainpoint1 .c-mc1text .c-mc1text1 h3 {
    font-size: 1.7em;
    font-weight: 800;
  }
  
  main .c-mainpoint1 .c-mc1text .c-mc1text1 p {
    color: #cfcfc2;
    font-size: 1.33em;
  }
  
  .c-links a{
    color: #a6e22e;
    
  }
  